<center>
    <img src="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DB0201EN-SkillsNetwork/labs/FinalModule_Coursera_V5/images/SN_web_lightmode.png" width="300" alt="cognitiveclass.ai logo">
</center>

<h1 align=center><font size = 5>Assignment</font></h1>

In [2]:
%load_ext sql

In [3]:
%sql ibm_db_sa://nly64468:gfxiEy3OTvh1tTzN@9938aec0-8105-433e-8bf9-0fbb7e483086.c1ogj3sd0tgtu0lqde00.databases.appdomain.cloud:32459/bludb?security=SSL

'Connected: nly64468@bludb'

In [4]:
!pip install -q pandas==1.1.5

## Tasks

Now write and execute SQL queries to solve the assignment tasks.

### Task 1




##### Display the names of the unique launch sites  in the space mission

In [5]:
%%sql 
SELECT DISTINCT
    LAUNCH_SITE
FROM 
    SPACE_X

 * ibm_db_sa://nly64468:***@9938aec0-8105-433e-8bf9-0fbb7e483086.c1ogj3sd0tgtu0lqde00.databases.appdomain.cloud:32459/bludb
Done.

[('CCAFS LC-40',), ('CCAFS SLC-40',), ('KSC LC-39A',), ('VAFB SLC-4E',)]


### Task 2


#####  Display 5 records where launch sites begin with the string 'CCA'

In [6]:
%%sql 
SELECT
    *
FROM 
    SPACE_X
WHERE
    LAUNCH_SITE LIKE 'CCA%'
LIMIT 5

 * ibm_db_sa://nly64468:***@9938aec0-8105-433e-8bf9-0fbb7e483086.c1ogj3sd0tgtu0lqde00.databases.appdomain.cloud:32459/bludb
Done.

[(datetime.date(2010, 4, 6), datetime.time(18, 45), 'F9 v1.0  B0003', 'CCAFS LC-40', 'Dragon Spacecraft Qualification Unit', 0, 'LEO', 'SpaceX', 'Success', 'Failure (parachute)'),
 (datetime.date(2010, 8, 12), datetime.time(15, 43), 'F9 v1.0  B0004', 'CCAFS LC-40', 'Dragon demo flight C1, two CubeSats, barrel of Brouere cheese', 0, 'LEO (ISS)', 'NASA (COTS) NRO', 'Success', 'Failure (parachute)'),
 (datetime.date(2012, 8, 10), datetime.time(0, 35), 'F9 v1.0  B0006', 'CCAFS LC-40', 'SpaceX CRS-1', 500, 'LEO (ISS)', 'NASA (CRS)', 'Success', 'No attempt'),
 (datetime.date(2013, 1, 3), datetime.time(15, 10), 'F9 v1.0  B0007', 'CCAFS LC-40', 'SpaceX CRS-2', 677, 'LEO (ISS)', 'NASA (CRS)', 'Success', 'No attempt'),
 (datetime.date(2013, 3, 12), datetime.time(22, 41), 'F9 v1.1', 'CCAFS LC-40', 'SES-8', 3170, 'GTO', 'SES', 'Success', 'No attempt')]

### Task 3




##### Display the total payload mass carried by boosters launched by NASA (CRS)

In [7]:
%%sql 
SELECT
    SUM(payload_mass__kg_)
FROM 
    SPACE_X
WHERE
    payload LIKE '%CRS%'

 * ibm_db_sa://nly64468:***@9938aec0-8105-433e-8bf9-0fbb7e483086.c1ogj3sd0tgtu0lqde00.databases.appdomain.cloud:32459/bludb
Done.

[(56479,)]

### Task 4




##### Display average payload mass carried by booster version F9 v1.1

In [8]:
%%sql 
SELECT
    AVG(payload_mass__kg_)
FROM 
    SPACE_X
WHERE
    booster_version LIKE '%F9 v1.1%'

 * ibm_db_sa://nly64468:***@9938aec0-8105-433e-8bf9-0fbb7e483086.c1ogj3sd0tgtu0lqde00.databases.appdomain.cloud:32459/bludb
Done.

[(3226,)]

### Task 5

##### List the date when the first successful landing outcome in ground pad was acheived.


_Hint:Use min function_

In [9]:
%%sql 
SELECT
    MIN(DATE)
FROM 
    SPACE_X
WHERE
    landing__outcome LIKE '%Success%'

 * ibm_db_sa://nly64468:***@9938aec0-8105-433e-8bf9-0fbb7e483086.c1ogj3sd0tgtu0lqde00.databases.appdomain.cloud:32459/bludb
Done.

[(datetime.date(2016, 6, 5),)]

### Task 6

##### List the names of the boosters which have success in drone ship and have payload mass greater than 4000 but less than 6000

In [10]:
%%sql 
SELECT
    booster_version
FROM 
    SPACE_X
WHERE
    landing__outcome = 'Success (drone ship)'
    AND payload_mass__kg_ > 4000
    AND payload_mass__kg_ < 6000

 * ibm_db_sa://nly64468:***@9938aec0-8105-433e-8bf9-0fbb7e483086.c1ogj3sd0tgtu0lqde00.databases.appdomain.cloud:32459/bludb
Done.

[('F9 FT B1022',), ('F9 FT  B1031.2',)]

### Task 7




##### List the total number of successful and failure mission outcomes

In [14]:
%%sql 
SELECT
    COUNT(CASE WHEN UPPER(mission_outcome) LIKE '%SUCCESS%' THEN mission_outcome END) AS total_success,
    COUNT(CASE WHEN UPPER(mission_outcome) LIKE '%FAIL%' THEN mission_outcome END) AS total_failure
FROM 
    SPACE_X

 * ibm_db_sa://nly64468:***@9938aec0-8105-433e-8bf9-0fbb7e483086.c1ogj3sd0tgtu0lqde00.databases.appdomain.cloud:32459/bludb
Done.

[(45, 0)]

### Task 8



##### List the   names of the booster_versions which have carried the maximum payload mass. Use a subquery

In [15]:
%%sql 
SELECT DISTINCT
    booster_version
FROM 
    SPACE_X
WHERE
    payload_mass__kg_ = (
        SELECT
            MAX(payload_mass__kg_)
        FROM
            SPACE_X
    )

 * ibm_db_sa://nly64468:***@9938aec0-8105-433e-8bf9-0fbb7e483086.c1ogj3sd0tgtu0lqde00.databases.appdomain.cloud:32459/bludb
Done.

[('F9 B5 B1048.4',),
 ('F9 B5 B1049.4',),
 ('F9 B5 B1049.5',),
 ('F9 B5 B1058.3',),
 ('F9 B5 B1060.2',)]

### Task 9


##### List the failed landing_outcomes in drone ship, their booster versions, and launch site names for in year 2015

In [20]:
%%sql 
SELECT DISTINCT
    date,
    landing__outcome,
    booster_version,
    launch_site
FROM 
    SPACE_X
WHERE
    UPPER(landing__outcome) LIKE '%FAIL%'
    AND YEAR(DATE(date)) = 2015

 * ibm_db_sa://nly64468:***@9938aec0-8105-433e-8bf9-0fbb7e483086.c1ogj3sd0tgtu0lqde00.databases.appdomain.cloud:32459/bludb
Done.

[(datetime.date(2015, 10, 1), 'Failure (drone ship)', 'F9 v1.1 B1012', 'CCAFS LC-40')]

### Task 10

##### Rank the count of landing outcomes (such as Failure (drone ship) or Success (ground pad)) between the date 2010-06-04 and 2017-03-20, in descending order

In [26]:
%%sql
SELECT DISTINCT
    landing__outcome,
    COUNT(landing__outcome) AS total_outcome
FROM 
    SPACE_X
WHERE
    DATE(date) BETWEEN DATE('2010-06-04') AND DATE('2017-03-20')
GROUP BY landing__outcome
ORDER BY COUNT(landing__outcome) DESC

 * ibm_db_sa://nly64468:***@9938aec0-8105-433e-8bf9-0fbb7e483086.c1ogj3sd0tgtu0lqde00.databases.appdomain.cloud:32459/bludb
Done.

[('No attempt', 7),
 ('Failure (drone ship)', 2),
 ('Success (drone ship)', 2),
 ('Success (ground pad)', 2),
 ('Controlled (ocean)', 1),
 ('Failure (parachute)', 1)]

Copyright Â© 2020 This notebook and its source code are released under the terms of the [MIT License](https://bigdatauniversity.com/mit-license?utm_medium=Exinfluencer&utm_source=Exinfluencer&utm_content=000026UJ&utm_term=10006555&utm_id=NA-SkillsNetwork-Channel-SkillsNetworkCoursesIBMDeveloperSkillsNetworkDB0201ENSkillsNetwork20127838-2021-01-01&cm_mmc=Email_Newsletter-_-Developer_Ed%2BTech-_-WW_WW-_-SkillsNetwork-Courses-IBMDeveloperSkillsNetwork-DB0201EN-SkillsNetwork-20127838&cm_mmca1=000026UJ&cm_mmca2=10006555&cm_mmca3=M12345678&cvosrc=email.Newsletter.M12345678&cvo_campaign=000026UJ).